version: "3.9"

volumes:
  rstudiohome:
  rstudiotmp:

services:

  broadsea-hades:
    # Use pre-built image from Docker Hub or build locally with ./build.sh
    # To build: ./build.sh [HADES version]
    # To run: docker-compose up -d
    image: ohdsi/broadsea-hades:${HADES_VERSION:-latest}
    container_name: rstudio
    ports:
      - "8787:8787"  # RStudio server http and websocket connections
      - "6311:6311"  # Rserve connections
    volumes:
      - rstudiohome:/home
      - rstudiotmp:/tmp
    environment:
      - PASSWORD=${RSTUDIO_PASSWORD:-mypass}
    restart: unless-stopped
